<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href='/admincss/addcatagory.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://kit.fontawesome.com/d4181b2b31.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <!-- <img src="/images/logo.png" alt=""> -->
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/blockeduser">Blocked Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/categoryList">Catagory</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/order">Orders</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/bannerlist'>Banner</a></li>
            <li><i class="fa-solid fa-chart-line"></i> <a href="/admin/addproducts">Add product</a></li>

        </div>

    </section>


    <section id="interface">
            

        
        
         


        <form  id="categoryForm" action='/admin/updatecoupon/<%=data._id%>' method="post">
            <label for="categoryName">Coupon Code:</label>
            <input type="text" id="categoryName" name="couponCode" required value="<%=data.couponCode%>">
    
            <label >Up to</label>
            <input type="number" name="upTo" required value="<%=data.upTo%>">
            <label >price:</label>
            <input type="text" name="price"   value="<%=data.price%>">
            <label >Valid from:</label>
            <input type="date" name="validFrom" value="<%=data.validFrom.toISOString().substring(0, 10)%>">

            <label >Valid To:</label>
            <input type="date" name="validTo" value="<%=data.validTo.toISOString().substring(0, 10)%>">

    
            <button type="submit" id="addBtn">Update</button>
            <p class="errorMg"></p>
        </form>
            

            
            
        


        
        
    </section>

</body>
<script></script>
</html>