<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productslist</title>
    <link rel="stylesheet" href='/admincss/usersList.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://kit.fontawesome.com/d4181b2b31.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/blockeduser">Blocked Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/categoryList">Catagorys</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/order">Orders</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/bannerlist'>Banner</a></li>
            <li><i class="fa-solid fa-circle-plus"></i> <a href="/admin/addproducts">Add products</a></li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="" alt="">
            </div>
        </div>

        <h3 class="i-name">PRODUCTS</h3>
        
         



            





            
            
        </div>


        <dir class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>catagory</td>
                        <td>price</td>
                        <td>edit</td>
                        <td>delete</td>
                    </tr>
                </thead>
                <tbody>
                <% products.forEach(data=>{%>
                    
                    <tr class="delete_tr<%=data._id%>">
                        <td class="people"> 
                            <a href="/admin/viewsingleProduct?id=<%=data._id%>"><img src="/Productimag/<%= data.productImage[0]%>" alt=""> </a>
                            <div class="people-de">
                                <h5><%=data.productName%></h5>
                                <!-- <p>hello</p> -->
                            </div>
                        </td>

                        <td class="people-des">
                          <h5><%=data.category%></h5>
                          <p><%=data.subCategory%></p>
                        </td>

                        <td class="active"><p>₹<%=data.price%></p></td>

                        <td class="role"><a href="/admin/updateProduct?id=<%=data._id%>">edit</a></td>
                        <td class="edit emoveCata"> <a href="" data-id="<%=data._id%>" id="deletebtn"><i class="fa-solid fa-trash" onclick="deleteCat(event,'<%=data._id%>')"></i></a></td>
                    </tr>
                    </tr>

               
                    <%})%>



                 






                
                    
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>&limit=<%= itemsPerPage %>">&laquo;</a>
            <% } %> 
               <% for (let i = 1; i <= totalPages; i++) { %>
                 <a href="?page=<%= i %>&limit=<%= itemsPerPage %>"
                  class="<%= (i === currentPage) ? 'active' : '' %>"><%= i %>
                </a>
               <% } %> 
            <% if (products.length === itemsPerPage) { %>
                 <a href="?page=<%= currentPage + 1 %>&limit=<%= itemsPerPage %>">&raquo;</a>
            <% } %>
          </div>
    </section>
     
    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })


        async function deleteCat(event,catId){

event.preventDefault()

try {
  Swal.fire({
title: "Are you sure?",
text: "You won't be able to revert this!",
icon: "warning",
showCancelButton: true,
confirmButtonColor: "#3085d6",
cancelButtonColor: "#d33",
confirmButtonText: "Yes, delete it!"
}).then(async(result) => {
  // const result = response.data
  if (result.isConfirmed) {
      const response=await axios.delete(`/admin/deleteproduct?id=${catId}`)
      if( response.data.success){
    Swal.fire({
      title: "Deleted!",
      text: "Your file has been deleted.",
      icon: "success"
    });
  }
    document.querySelector(`.delete_tr${catId}`).remove()
  }

});

  

} catch (error) {
  console.log(error);
}
}
    </script>
</body>

</html>