<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/admincss/addproduct.css">
</head>
<body>
    <div class="content_part">

        <form id="form" method="post" enctype="multipart/form-data">
            <div class="frame">
                <div class="gap_div">
                    <div class="card_div">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" id="productName" name="productName" placeholder="Enter product name" value="<%=productdata.productName%>">
                        </div>
        
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" id="price" name="price" placeholder="Enter price" value="<%=productdata.price%>">
                        </div>
        
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" id="discount" name="discount" placeholder="Enter discount" value="<%=productdata.discount%>">
                        </div>
        
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            <input type="number" id="stock" name="stock" placeholder="Enter stock" value="<%=productdata.stock%>">
                        </div>
        
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" name="category">
                                <option value="" selected disabled>Select category</option>
                                <!-- <option value="home">Home</option>
                                <option value="electronics">Electronics</option>
                                <option value="mens">Mens</option> -->
                                <% data.forEach(data=>{%>
                              <option value="<%=data.categoryName%>"><%=data.categoryName%></option>
                              <%})%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subCategory">Sub Category</label>
                            <select name="subCategory" id="subCategory">
                                <option value="" selected disabled>Select category</option>
                                <% data.forEach(category => { %>
            
                                      <% category.subCategory.forEach(sub => { %>
                                        <option value="<%= sub %>"><%= sub %></option>
                                      <% }); %>
                                    </optgroup>
                                  <% }); %>
                            </select>
                        </div>
        
        
                        <div class="form-group">
                            <label for="colour">Colour</label>
                            <select name="colour" id="colour">
                                <option value="<%=productdata.colour%>" selected ><%=productdata.colour%></option>
                                <option value="Red" >Red</option> 
                                <option value="Blue" >Blue</option>
                                <option value="Green">Green</option>
                                <option value="Black" >Black</option>
                                <option value="Orange" >Orange</option>
                                <option value="Yellow">Yellow</option>     
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="size">Size</label>
                            <select name="size" id="">
                                <option value="<%=productdata.size%>" selected ><%=productdata.size%></option>                                            
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="none">None</option> 
                            </select>
                        </div>
        
                
        
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" placeholder="Enter description" ><%=productdata.description%></textarea>
                        </div>
                        <div class="form-group">

                            <button type="button" class="submitBtn"  onclick="updateproduct(event,'<%=productdata._id%>')">update</button>
                              <p class="errorMsg"></p>
                        </div>
                    </div>
                    <div class="img_div">      
                        <div class="form-group img_centr">
                            <div class="image_space">
                                <img src="/Productimag/<%=productdata.productImage[0]%>" alt="" id="previewImage" class="pic">
                            </div>
                           <div class="image_buttn">
                            Choose Image
                            <input type="file" id="productImage" multiple name="productImage" onchange="handleImageChange()" value="<%=productdata.productImage%>">
                           </div>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </form>

                 
    </div>
</body>
<script>
    "use strict";
// .......................product image  change....................
function handleImageChange() {
  const imageInput = document.getElementById("productImage");
  const previewImage = document.getElementById("previewImage");

  const file = imageInput.files[0];

  if (file) {
    const reader = new FileReader();

    reader.onload = function (e) {
      previewImage.src = e.target.result;
    };

    reader.readAsDataURL(file);
  } else {
    previewImage.src = "";
  }
}

// -------------------------------------

const submitBtn = document.querySelector(".submitBtn");
const errMsg = document.querySelector(".errorMsg");

async function updateproduct (e,id){
  try {
    e.preventDefault();

    const productName = document.getElementsByName("productName")[0].value;
    const price = document.getElementsByName("price")[0].value;
    const discount = document.getElementsByName("discount")[0].value;
    const stock = document.getElementsByName("stock")[0].value;
    const category = document.getElementsByName("category")[0].value;
    const subCategory = document.getElementsByName("subCategory")[0].value;
    const description = document.getElementsByName("description")[0].value;
    const productImage = document.getElementsByName("productImage")[0].value;

    const addProductform = document.getElementById("form");
    const form = new FormData(addProductform);

    if (
      !productName ||
      !price ||
      !discount ||
      !stock ||
      !category ||
      !subCategory ||
      !subCategory ||
      !description ||
      !productImage
    ) {
      errMsg.innerHTML = "please fill the form";
      setTimeout(() => {
        errMsg.innerHTML = "";
      }, 2000);
    } else {
      const response = await fetch(`/admin/updateProduct?id=${id}`, {
        method: "POST",
        body: form,
      });

      const result = await response.json();

      if (!response.ok) {
        throw new Error("Error in add product fetch ,product already exist");
      } else {
        if (result.success) {
          errMsg.innerHTML = "product successfuly updated";
          errMsg.classList.add("success");
          setTimeout(() => {
            window.location.href = "/admin/productslist";
          }, 500);
        } else {
          errMsg.innerHTML = result.ERR;
        }
      }
    }
  } catch (error) {
    console.log("error in update product", error);
  }
}

</script>
</html>