<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecart</title>
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/userCss/allproducts.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div class="row header">
          <div class="col-6 topheader topheaderone">
            <div class="topheadingimg topheadingimgone">
              <img
                src="./images/header/shipping-icon.svg"
                alt="shipping-icon"
              />
              <p>Free Shipping</p>
            </div>
          </div>
          <div class="col-6 topheader topheadertwo">
            <div class="topheadingimg topheadingimgtwo">
              <img
                src="./images/header/warranty-icon.svg"
                alt="warranty-icon"
              />
              <p>1 Year Warranty</p>
            </div>
          </div>
        </div>
      </div>

      <nav>
        <div class="container-fluid">
          <div class="row navigation">
            <div
              class="col-12 d-flex align-items-center justify-content-between"
            >
              <div class="logo d-flex align-items-center m-0 p-0">
                <div class="mobilenavigation">
                  <button class="hamburger">
                    <span class="d-block mt-0"></span>
                    <span class="d-block"></span>
                    <span class="d-block mb-0"></span>
                  </button>
                </div>

                
              </div>

              <div class="navigationnavbar">
                <ul class="d-flex list-unstyled m-0 p-0 align-items-center">
                  <li>
                    <a href="/home"> Home </a>
                  </li>
                  <li>
                    <a href="/catagory?id=Men"> Men </a>
                  </li>
                  <li>
                    <a href="/catagory?id=Women">Women</a>
                  </li>
                  <li>
                    <a href="/catagory?id=Electronics"> Electronics</a>
                  </li>
                    <li>
                    <a href="/allproducts"> Shop By Category </a>
                  </li>
                </ul>
              </div>

              <div class="mobilenavigationList">
                <h2>Shop By Category</h2>
                <ul class="m-0 list-unstyled">
                  <li>
                    <a href="/home"> Home </a>
                  </li>
                  <li>
                    <a href="/catagory?id=Men"> Men </a>
                  </li>
                  <li>
                    <a href="/catagory?id=Women">Women</a>
                  </li>
                  <li>
                    <a href="/catagory?id=Electronics"> Electronics</a>
                  </li>
                    <li>
                    <a href="/allproducts"> Shop By Category </a>
                  </li>
                </ul>
              </div>

              <div class="useroptions d-flex">
                <ul class="m-0 p-0 d-flex align-items-center list-unstyled">
                  <li>
                    <a href="/userAccont">
                        <i class="fa-solid fa-user" style="color: black;"></i>
                    </a>                                   
                </li>
                <li>
                    <a href="/userOrders">
                        <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                    </a>                                    
                </li>
                <li>
                    <a href="/wishlist">
                        <i class="fa-solid fa-heart" style="color: black;"></i>
                    </a>
                </li>
                <li>
                    <a href="/cart">
                        <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
                    </a>
                </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- end of header -->

    <!-- main -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 searchBar d-flex align-items-center justify-content-center position-relative"
          >
            <div
              class="sortOption position-absolute d-flex align-items-center gap-3"
            >
              <div class="fliterIcon">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.8333 19.5V17.3333H15.1667V19.5H10.8333ZM6.5 14.0833V11.9167H19.5V14.0833H6.5ZM3.25 8.66667V6.5H22.75V8.66667H3.25Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="searchBox d-flex align-items-center">
              <input
                type="text"
                name="search"
                placeholder="Search for Products"
                class="searchBar"
                id="search_bar"
              />
              <button
                class="searchBtn d-flex justify-content-center align-items-center"
                onclick="search()">
                <i class="fa-solid fa-magnifying-glass" style="color:white;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="fliter-moblie">
        <div class="fliterOptions">
          <div class="fliterHead">
            <h2>Filters</h2>
          </div>
          <div class="fliterSubHead">
            <h2>PRICE</h2>
            <!-- <form action="/userFliter" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="1000" name="maxPrice" hidden />
              <input
                class="bg-transparent border-0"
                type="submit"
                value="Under ₹1,000"
              /> -->
            </form>
            <form action="/userFliterByPrice?minPrice=1000?maxPrice=5000" method="get">
              <input type="text" value="" hidden />
              <input type="number" value="1000" name="minPrice" hidden />
              <input type="number" value="5000" name="maxPrice" hidden />
              <input
                class="bg-transparent border-0"
                type="submit"
                value="₹1,000 - ₹5,000"
              />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="5000" name="minPrice" hidden />
              <input type="number" value="10000" name="maxPrice" hidden />
              <input
                class="bg-transparent border-0"
                type="submit"
                value="₹5,000 - ₹10,000"
              />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="10000" name="minPrice" hidden />
              <input type="number" value="20000" name="maxPrice" hidden />
              <input
                class="bg-transparent border-0"
                type="submit"
                value="₹10,000 - ₹20,000"
              />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="20000" name="minPrice" hidden />
              <input
                class="bg-transparent border-0"
                type="submit"
                value="Over ₹20,000"
              />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input
                type="number"
                value=""
                name="minPrice"
                placeholder="Min"
                required
              />
              <input
                type="number"
                value=""
                name="minPrice"
                placeholder="Max"
                required
              />
              <button type="submit">Go</button>
            </form>
          </div>
          <div class="fliterSubHead2">
            <h2>Customer Ratings</h2>

            <form class="rateing" action="/userFilterByRateing" method="post">
              <input
                class="checkbox"
                type="checkbox"
                value="4"
                name="maxRate"
                required
              />
              <input type="submit" value="4★ & above" />
            </form>

            <form class="rateing" action="/userFilterByRateing" method="post">
              <input
                class="checkbox"
                type="radio"
                value="3"
                name="maxRate"
                required
              />
              <input type="submit" value="3★ & above" />
            </form>


          </div>
          <div class="sort">
            <div class="fliterHead">
              <h2>SORT BY</h2>
            </div>
            <div class="sortOptions">
              <form action="/userFilterByRateing" method="post">
                <input type="number" value="1" name="sort" hidden />
                <input type="submit" value="Price -- Low to High" />
              </form>
              <form action="/userFilterByRateing" method="post">
                <input type="number" value="-1" name="high" hidden />
                <input type="submit" value="Price -- High to Low" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="fliter">
          <div class="fliterOptions">
            <div class="fliterHead">
              <h2>Filters</h2>
            </div>
            <div class="fliterSubHead">
              <h2>PRICE</h2>
              <!-- <form action="/userFliter" method="post">
                <input type="text" value="" hidden />
                <input type="number" value="1000" name="maxPrice" hidden />
                <input
                  class="bg-transparent border-0"
                  type="submit"
                  value="Under ₹1,000"
                />
              </form> -->
              <form action="/userFliterByPrice?minPrice=1000?maxPrice=5000" method="get">
                <input type="text" value="" hidden />
                <input type="number" value="1000" name="minPrice" hidden />
                <input type="number" value="5000" name="maxPrice" hidden />
                <input
                  class="bg-transparent border-0"
                  type="submit"
                  value="₹1,000 - ₹5,000"
                />
              </form>
              <form action="/userFliterByPrice?minPrice=5000?maxPrice=10000" method="get">
                <input type="text" value="" hidden />
                <input type="number" value="5000" name="minPrice" hidden />
                <input type="number" value="10000" name="maxPrice" hidden />
                <input
                  class="bg-transparent border-0"
                  type="submit"
                  value="₹5,000 - ₹10,000"
                />
              </form>
              <form action="/userFliterByPrice?minPrice=10000?maxPrice=20000" method="get">
                <input type="text" value="" hidden />
                <input type="number" value="10000" name="minPrice" hidden />
                <input type="number" value="20000" name="maxPrice" hidden />
                <input
                  class="bg-transparent border-0"
                  type="submit"
                  value="₹10,000 - ₹20,000"
                />
              </form>
              <form action="/userFliterByPrice?minPrice=20000?maxPrice=1000000" method="get">
                <input type="text" value="10000" hidden />
                <input type="number" value="20000" name="minPrice" hidden />
                <input
                  class="bg-transparent border-0"
                  type="submit"
                  value="Over ₹20,000"
                />
              </form>
              <form action="/userFliterByPrice" method="get">
                <!-- <input type="text" value="" hidden />   -->
                <input
                  type="number"
                  value=""
                  name="minPrice"
                  placeholder="Min"
                  required
                />
                <input
                  type="number"
                  value=""
                  name="maxPrice"
                  placeholder="Max"
                  required
                />
                <button type="submit">Go</button>
              </form>
            </div>
            <div class="fliterSubHead2">
              <h2>SUBCATEGORY</h2>


              <!-- <form class="rateing" action="/userFilterByRateing" method="post">
                <input
                  class="checkbox"
                  type="checkbox"
                  value="4"
                  name="maxRate"
                  required
                />
                <input type="submit" value="4★ & above" />
              </form> -->
              <% category.forEach(data=>{%>

            
     <a href="/catagory?id=<%=data.categoryName%>" style="text-decoration:none;"><p style="color: black;"><%=data.categoryName%></p></a>
     <% })%>

              <!-- <form class="rateing" action="/userFilterByRateing" method="post">
                <input
                  class="checkbox"
                  type="radio"
                  value="3"
                  name="maxRate"
                  required
                hidden/>
                <input type="submit" value="3★ & above" />
              </form> -->


            </div>

            <div class="sort">
              <div class="fliterHead">
                <h2>SORT BY</h2>
              </div>
              <div class="sortOptions">
                <form action="/userFilterByRateing?sort=1" method="get">
                  <input type="number" value="1" name="sort" hidden />
                  <input type="submit" value="Price -- Low to High" />
                </form>
                <form action="/userFilterByRateing?sort=-1" method="get">
                  <input type="number" value="-1" name="sort" hidden />
                  <input type="submit" value="Price -- High to Low" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">




            
                      


    
     <% products.forEach(data=>{%>

      
            <div class="smallWidth col-6 col-md-4">
              <div class="shopItems">
                <div class="mainItem">
                  <div
                    class="itemImg itemImgThree d-flex align-items-center position-relative justify-content-center"
                  >
                   
                     
                      <p><button onclick="wishlist(event,'<%= data._id %>')" style="border:none;background-color: white;">
                        <% if (wishlist && wishlist.length > 0) { %>
                          <% let isWishlisted = false; %>
                          <% wishlist.forEach(item => { %>
                            <% if (item.productId.includes(data._id)) { %>
                              <% isWishlisted = true; %>
                            <% } %>
                          <% }); %>
                          <% if (isWishlisted) { %>
                            <i class="fa-solid ll<%= data._id %> fa-heart"></i>
                          <% } else { %>
                            <i class="fa-regular ll<%= data._id %> fa-heart"></i>
                          <% } %>
                        <% } else { %>
                          <i class="fa-regular ll<%= data._id %> fa-heart"></i>
                        <% } %>
                        
                         
                        </i></button></p>
                  
                    <a href="/user/viewsingleproduct?id=<%=data._id%>">
                    <img src="/Productimag/<%=data.productImage[0]%>" alt="" />
                    </a>
                  </div>
                  <div class="itemDescription text-center">
                    <h2><%=data.productName%></h2>
                    <p>stock:<%=data.stock%></p>
                    <div
                      class="price d-flex align-items-baseline justify-content-center"
                    >
                    <%const result = (data.price * data.discount) / 100;
                    const discountedPrice = Math.ceil(data.price - result);%>
                      <p class="p-0 m-0">₹<%=discountedPrice%></p>
                      <p class="p-0 m-0">₹<%=data.price%></p>
                    </div>
                    <div>
                      <a href="/userBuyNow?id=<%=data._id%>">
                        <button class="buyBtn">BUY NOW</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>

            
            
            

            

          </div>
        </div>
      </div>
      <%if(currentPage && totalPages &&  itemsPerPage){%>

    
      <div class="pagination">
        <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>&limit=<%= itemsPerPage %>">&laquo;</a>
        <% } %> 
           <% for (let i = 1; i <= totalPages; i++) { %>
             <a href="?page=<%= i %>&limit=<%= itemsPerPage %>"
              class="<%= (i === currentPage) ? 'active' : '' %>"><%= i %>
            </a>
           <% } %> 
        <% if (products.length === itemsPerPage) { %>
             <a href="?page=<%= currentPage + 1 %>&limit=<%= itemsPerPage %>">&raquo;</a>
        <% } %>
      </div>
      <%}%>
    </main>
    
    <!-- end of main -->

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- end of footer -->

    <!-- custom js -->
    <!-- <script src="./js/userSingleProductPage.js"></script> -->
    <script src="/js/wishlist.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>
