
    <!-- end of header -->
    <%- include('../partials/header.ejs') %>
    <!-- main -->
    <main>
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartHead">
              <div class="d-flex align-items-center gap-2">
                <% if(cart&&cart.products.length>0){ %>
                <h2 class="m-0 p-0 count">Cart(<%=cart.products.length%>)</h2>
                <%}%>
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 7.41421C4 7.20984 4 7.10765 4.03806 7.01577C4.07612 6.92388 4.14838 6.85162 4.29289 6.70711L5.82843 5.17157C6.40649 4.59351 6.69552 4.30448 7.06306 4.15224C7.4306 4 7.83935 4 8.65685 4H15.3431C16.1606 4 16.5694 4 16.9369 4.15224C17.3045 4.30448 17.5935 4.59351 18.1716 5.17157L19.7071 6.70711C19.8516 6.85162 19.9239 6.92388 19.9619 7.01577C20 7.10765 20 7.20984 20 7.41421V8H4V7.41421Z"
                    stroke="black"
                    stroke-width="2"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21 8H3V17C3 18.8856 3 19.8284 3.58579 20.4142C4.17157 21 5.11438 21 7 21H17C18.8856 21 19.8284 21 20.4142 20.4142C21 19.8284 21 18.8856 21 17V8ZM10 11C10 10.4477 9.55228 10 9 10C8.44772 10 8 10.4477 8 11C8 12.0609 8.42143 13.0783 9.17157 13.8284C9.92172 14.5786 10.9391 15 12 15C13.0609 15 14.0783 14.5786 14.8284 13.8284C15.5786 13.0783 16 12.0609 16 11C16 10.4477 15.5523 10 15 10C14.4477 10 14 10.4477 14 11C14 11.5304 13.7893 12.0391 13.4142 12.4142C13.0391 12.7893 12.5304 13 12 13C11.4696 13 10.9609 12.7893 10.5858 12.4142C10.2107 12.0391 10 11.5304 10 11Z"
                    fill="black"
                  />
                </svg>
              </div>
            </div>
            <div class="cartBody d-flex">
              <div class="col-6 oneSection">


                <div class="cartItems">

<% if(cart&&cart.products.length>0){ %>



          <% cart.products.forEach(data=>{%>
                   <div class="items position-relative  delete_tr<%=data.productId._id%>">
                    <i class="fa-solid fa-trash-can position-absolute deleteBtn " onclick="deleteCart('<%=data.productId._id%>')"></i>

                    <div class="contentDiv d-flex gap-4">
                    
                      <div class="itemImg">
                        <a href="/user/viewsingleproduct?id=<%=data.productId._id%>">
                        <img src="/Productimag/<%=data.productId.productImage[0]%>" alt="" />
                      </div>
                    </a>
                      <div class="productDetails">
                        
                        <h2><%=data.productId.productName%></h2>
                        <%const result = (data.productId.price * data.productId.discount) / 100;
                          const discountedPrice = Math.ceil(data.productId.price - result);%>
                        <div class="quandity d-flex align-items-center">
                          <div
                          onclick="dec('<%=data.productId._id%>','<%=discountedPrice%>','<%=data.productId.stock%>')" class="dec d-flex justify-content-center align-items-center"
                          >
                            <i class="fa-solid fa-minus" ></i>
                          </div>
                          <div
                            class="qty d-flex justify-content-center align-items-center"
                          >
                            <p class="m-0 p-0 qtyOne<%=data.productId._id%>"><%=data.quantity%></p>
                          </div>
                          <div
                          onclick="inc('<%=data.productId._id%>','<%=discountedPrice%>','<%=data.productId.stock%>')" class="inc d-flex justify-content-center align-items-center"  >
                            <i class="fa-solid fa-plus" ></i>
                          </div>
                        </div>
                        <p class="color">COLOR</p>
                        <p class="cName"><%=data.productId.colour%></p>
                        <div class="price d-flex align-items-baseline gap-2">
                          
                          <p class="lPrice<%=data.productId._id%>">₹<%=discountedPrice * data.quantity%></p>
                          <p class="fPrice">₹<%=data.productId.price%></p>
                          <p><%=data.productId.discount%>% OFF</p>
                        </div>
                      </div>
                    </div>
                  </div>

      <%})%>
      


            
                </div>
              </div>
              <div class="col-6 oneSection">
                <div class="orderSummary">
                  <div class="orderHeading">
                    <h2>order summary</h2>
                  </div>
                  <div class="orderContent">
                    <div
                      class="sTotal d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Subtotal</p>
                    
                      <p class="commonSub m-0 p-0" id="sTotal">₹<%=totalAmt%></p>
                     
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Shipping</p>
                      <p class="commonSub m-0 p-0" id="free">FREE</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Discount</p>
                      <p class="commonSub m-0 p-0" id="dPrice">0</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Coupon Discount</p>
                      <p class="commonSub m-0 p-0" id="cDPrice">0</p>
                    </div>
                  </div>
                  <div
                    class="commonText tPrice d-flex justify-content-between align-items-center"
                  >
                    <p class="m-0 p-0">Total</p>
                    <%if(cart){%>
                    <p class="m-0 p-0" id="tPrice">₹<%=totalAmt%></p>
                    <%}%>
                  </div>
                </div>
                <!-- <div class="ms-auto orderSummary mb-0">
                                <div class="orderHeading">
                                    <h2>Delivery Address</h2>
                                </div>
                                <div class="deleviryContent">
                                    <div class="chooseAdd position-relative">
                                        <div class="existingAddress">
                                            <p class="name">John D</p>
                                            <p>Abc house, abc street,PIN: 673478</p>
                                            <p class="phone">Phone: 98675555568</p>
                                        </div>
                                        <a href="/userChangeAddress">
                                            <button class="position-absolute button">Change</button>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="checkOut">
              <form action="/checkout">
                <button>CHECKOUT</button>
              </form>
            </div>
            <%}else{%>
              <h2>your cart is empty</h2>
            <%}%>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    
    <!-- end of footer -->

    <!-- custom js -->
    <script src="/js/cart.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>