  <%- include('../partials/header.ejs') %>
    <!-- main -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >

              <div class="carousel-inner">
                <div
                  class="carousel-item active"
                  data-bs-interval="6000"
                  data-bs-pause="false"
                  data-bs-ride="false"
                >
 
                  <a href=""
                    ><img
                      src="/images/slideImg/1.webp"
                      class="w-100 img-large-screen"
                      alt="..."
                  />
                </a>
                  <a href=""
                    ><img
                      src="/images/slideImg/1as.jpg"
                      class="w-100 img-small-screen"
                      alt="..."
                  />
                </a>

                </div>
                <div
                  class="carousel-item"
                  data-bs-interval="6000"
                  data-bs-pause="false"
                  data-bs-ride="false"
                >

                  <a href=""
                    ><img
                      src="/images/slideImg/2a.webp"
                      class="w-100 img-large-screen"
                      alt="..."
                  /></a>
                  <a href=""
                    ><img
                      src="/images/slideImg/2as.webp"
                      class="w-100 img-small-screen"
                      alt="..."
                  />
                </a>

                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon slideBtn leftBtn"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon slideBtn"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" >



            <div class="main-body">
              <div class="col-12">
                <div class="text-center">
                  <h2>Newly Arrival</h2>
                </div>
              </div>
              <div class="col-12" style="display:flex;flex-wrap: wrap; ">
                <div>
                  <ul
                  class="col-12 m-2" style="display:flex;flex-wrap: wrap; gap: 40px; list-style: none;" 
                  >

          

                  <% products.forEach(data=>{%>
        
                    <li >
                      <a href="/user/viewsingleproduct?id=<%=data._id%>">
                        <div class="newItems">
                          <div class="productImg">
                            <img src="/Productimag/<%= data.productImage[0]%>" alt="" />
                          </div>
                          <div class="text-area">
                            <div class="productTittle">
                              <p><%=data.productName%></p>
                            </div>
                            <div
                              class="discountPrice d-flex align-items-baseline"
                            >
                            <%const result = (data.price * data.discount) / 100;
                            const discountedPrice = Math.ceil(data.price - result);%>
                          
                              <p class="dprice">₹<%=discountedPrice%></p>
                              <p class="oprice">₹<%= data.price %></p>
                              <p class="discount"><%= data.discount%> %</p>
                            </div>
                            <div class="property">
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Return</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>cash on delivery</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>All inida</p>
                              </div>
                            </div>
                            <div class="colorOptions">
                              <div class="d-flex align-items-center">
                                <p>Colors</p>
                                <div class="d-flex align-items-center">
                                  <div class="bg-black"></div>
                                  <div class="bg-white"></div>
                                  <div class="bg-primary"></div>
                                </div>
                              </div>
                            </div>
                            <div class="shopOption">
                              <div class="d-flex align-items-center">
                                <p>shop Now</p>
                                <svg
                                  width="18"
                                  height="12"
                                  viewBox="0 0 18 12"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <g clip-path="url(#clip0_28_66)">
                                    <path
                                      d="M1 1L6 6L1 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.65"
                                      d="M6 1L11 6L6 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.4"
                                      d="M11 1L16 6L11 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_28_66">
                                      <rect
                                        width="18"
                                        height="12"
                                        fill="white"
                                      />
                                    </clipPath>
                                  </defs>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>

                    <%})%>

                      </ul>
                    
                </div>
              </div>
            </div>


            <div class="main-body">
              <div class="col-12">
                <div class="text-center">
                  <h2>MENS</h2>
                </div>
              </div>
              <div class="col-12" style="display:flex;flex-wrap: wrap; ">
                <div>
                  <ul
                  class="col-12 m-2" style="display:flex;flex-wrap: wrap; gap: 40px; list-style: none;" 
                  >

          

                  <% men.forEach(data=>{%>
        
                    <li >
                      <a href="/user/viewsingleproduct?id=<%=data._id%>">
                        <div class="newItems">
                          <div class="productImg">
                            <img src="/Productimag/<%= data.productImage[0]%>" alt="" />
                          </div>
                          <div class="text-area">
                            <div class="productTittle">
                              <p><%=data.productName%></p>
                            </div>
                            <div
                              class="discountPrice d-flex align-items-baseline"
                            >
                            <%const result = (data.price * data.discount) / 100;
                            const discountedPrice = Math.ceil(data.price - result);%>
                          
                              <p class="dprice">₹<%=discountedPrice%></p>
                              <p class="oprice">₹<%= data.price %></p>
                              <p class="discount"><%= data.discount%> %</p>
                            </div>
                            <div class="property">
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Return</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Cash on delivery</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>all india</p>
                              </div>
                            </div>
                            <div class="colorOptions">
                              <div class="d-flex align-items-center">
                                <p>Colors</p>
                                <div class="d-flex align-items-center">
                                  <div class="bg-black"></div>
                                  <div class="bg-white"></div>
                                  <div class="bg-primary"></div>
                                </div>
                              </div>
                            </div>
                            <div class="shopOption">
                              <div class="d-flex align-items-center">
                                <p>shop Now</p>
                                <svg
                                  width="18"
                                  height="12"
                                  viewBox="0 0 18 12"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <g clip-path="url(#clip0_28_66)">
                                    <path
                                      d="M1 1L6 6L1 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.65"
                                      d="M6 1L11 6L6 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.4"
                                      d="M11 1L16 6L11 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_28_66">
                                      <rect
                                        width="18"
                                        height="12"
                                        fill="white"
                                      />
                                    </clipPath>
                                  </defs>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>

                    <%})%>

                      </ul>
                    
                </div>
              </div>
            </div>





            <div class="main-body">
              <div class="col-12">
                <div class="text-center">
                  <h2>WOMENS</h2>
                </div>
              </div>
              <div class="col-12" style="display:flex;flex-wrap: wrap; ">
                <div>
                  <ul
                  class="col-12 m-2" style="display:flex;flex-wrap: wrap; gap: 40px; list-style: none;" 
                  >

          

                  <% women.forEach(data=>{%>
        
                    <li >
                      <a href="/user/viewsingleproduct?id=<%=data._id%>">
                        <div class="newItems">
                          <div class="productImg">
                            <img src="/Productimag/<%= data.productImage[0]%>" alt="" />
                          </div>
                          <div class="text-area">
                            <div class="productTittle">
                              <p><%=data.productName%></p>
                            </div>
                            <div
                              class="discountPrice d-flex align-items-baseline"
                            >
                            <%const result = (data.price * data.discount) / 100;
                            const discountedPrice = Math.ceil(data.price - result);%>
                          
                              <p class="dprice">₹<%=discountedPrice%></p>
                              <p class="oprice">₹<%= data.price %></p>
                              <p class="discount"><%= data.discount%> %</p>
                            </div>
                            <div class="property">
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Return</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>cash on delivery</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>all india</p>
                              </div>
                            </div>
                            <div class="colorOptions">
                              <div class="d-flex align-items-center">
                                <p>Colors</p>
                                <div class="d-flex align-items-center">
                                  <div class="bg-black"></div>
                                  <div class="bg-white"></div>
                                  <div class="bg-primary"></div>
                                </div>
                              </div>
                            </div>
                            <div class="shopOption">
                              <div class="d-flex align-items-center">
                                <p>shop Now</p>
                                <svg
                                  width="18"
                                  height="12"
                                  viewBox="0 0 18 12"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <g clip-path="url(#clip0_28_66)">
                                    <path
                                      d="M1 1L6 6L1 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.65"
                                      d="M6 1L11 6L6 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.4"
                                      d="M11 1L16 6L11 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_28_66">
                                      <rect
                                        width="18"
                                        height="12"
                                        fill="white"
                                      />
                                    </clipPath>
                                  </defs>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>

                    <%})%>

                      </ul>
                    
                </div>
              </div>
            </div>





            
            <div class="main-body">
              <div class="col-12">
                <div class="text-center">
                  <h2>70% offer</h2>
                </div>
              </div>
              <div class="col-12" style="display:flex;flex-wrap: wrap; ">
                <div>
                  <ul
                  class="col-12 m-2" style="display:flex;flex-wrap: wrap; gap: 40px; list-style: none;" 
                  >

          

                  <% offer.forEach(data=>{%>
        
                    <li >
                      <a href="/user/viewsingleproduct?id=<%=data._id%>">
                        <div class="newItems">
                          <div class="productImg">
                            <img src="/Productimag/<%= data.productImage[0]%>" alt="" />
                          </div>
                          <div class="text-area">
                            <div class="productTittle">
                              <p><%=data.productName%></p>
                            </div>
                            <div
                              class="discountPrice d-flex align-items-baseline"
                            >
                            <%const result = (data.price * data.discount) / 100;
                            const discountedPrice = Math.ceil(data.price - result);%>
                          
                              <p class="dprice">₹<%=discountedPrice%></p>
                              <p class="oprice">₹<%= data.price %></p>
                              <p class="discount"><%= data.discount%> %</p>
                            </div>
                            <div class="property">
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Return</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>Cash on delivery</p>
                              </div>
                              <div>
                                <img
                                  src="./images/newlyLaunched/hexagon-list-icon.svg"
                                  alt=""
                                />
                                <p>All inida</p>
                              </div>
                            </div>
                            <div class="colorOptions">
                              <div class="d-flex align-items-center">
                                <p>Colors</p>
                                <div class="d-flex align-items-center">
                                  <div class="bg-black"></div>
                                  <div class="bg-white"></div>
                                  <div class="bg-primary"></div>
                                </div>
                              </div>
                            </div>
                            <div class="shopOption">
                              <div class="d-flex align-items-center">
                                <p>shop Now</p>
                                <svg
                                  width="18"
                                  height="12"
                                  viewBox="0 0 18 12"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <g clip-path="url(#clip0_28_66)">
                                    <path
                                      d="M1 1L6 6L1 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.65"
                                      d="M6 1L11 6L6 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                    <path
                                      opacity="0.4"
                                      d="M11 1L16 6L11 11"
                                      stroke="#4B4955"
                                      stroke-width="1.5"
                                    />
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_28_66">
                                      <rect
                                        width="18"
                                        height="12"
                                        fill="white"
                                      />
                                    </clipPath>
                                  </defs>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>

                    <%})%>

                      </ul>
                    
                </div>
              </div>
            </div>









          </div>
        </div>
        <div class="row slideProduct">
          <div class="col-12 text-center">
            <ul
              class="slideButton d-flex align-items-center list-unstyled justify-content-center"
            >
              <li data-index="0">
                <button onfocus="moveSlide(0)"></button>
              </li>
              <li data-index="1">
                <button onfocus="moveSlide(1)"></button>
              </li>
              <li data-index="2">
                <button onfocus="moveSlide(2)"></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
    </main>

     
    <!-- end of main -->

    <!-- footer -->
    
    <%- include('../partials/footer.ejs') %>
    <!-- end of footer -->

    <!-- custom js -->
    <script src="/js/userHome.js"> </script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>
